<h2 class="text-center">Your new cocktail</h2>

<%= simple_form_for(@cocktail) do |f| %>

  <%= f.input :name %>
  <label class="btn btn-primary">
    Add a picture for your cocktail
    <span style="display:none;">
      <%= f.input :photo %>
    </span>
  </label>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>
